body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.main-wrapper{
    font-size: 15px;
}

.inner-pay-page{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.success-page {
    position: absolute;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2em;
    z-index: -1;
    top: 0;
    transition: top 0.25s linear;
}

.success-page.hidden {
    display: flex;
    top: 120px;
}

.success-page.active {
    top: 400px;
}

.arrow {
    top: 10px;
    width: 20px;
    height: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(-135deg);
}

.list-wrapper{
    width: 700px;
    position: absolute;
    left: calc(50% - 350px);
    transition: left 0.35s ease-out;
}

.image-wrapper {
    width: 150px;
    text-align: center;
    border-radius: 25px;
    margin-right: 20px;
    background: white;
}

@media screen and (max-width: 800px) {
    .list-wrapper {
        width: 100%;
        left: 0;
    }
    .pays-wrapper{
        width: 100%;
        right: 0;
    }
    .inner-pay-page{
        padding: 0;
    }
    .success-page{
        width: 100%;
    }
    .top-line{
        margin: 5px;
    }
    .success-page.active {
        top: 360px;
    }
}

@media screen and (max-width: 550px) {
    .main-wrapper{
        font-size: 13px;
    }
    .image-wrapper{
        width: 120px;
    }
    .arrow{
        height: 17px;
        width: 17px;
    }
    .success-page.active {
        top: 335px;
    }
}

@media screen and (max-width: 440px) {
    .main-wrapper{
        font-size: 10px;
    }
    .image-wrapper{
        width: 100px;
    }
    .arrow{
        height: 15px;
        width: 15px;
    }
    .success-page.active {
        top: 295px;
    }
}

.blue-color{
    background-color: rgb(43,160,199);
}

.m0a{
    margin: 0 auto;
}

.operator-wrapper{
    height: 100px;
    display: flex;
    margin: 5px;
    padding: 10px;
}

.operator-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.operator{
    height: 100px;
    display: flex;
    margin: 20px 0 20px 0;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.operator-name{
    font-size: 4em;
}

.operator-logo {
    height: 70px;
    max-width: 80%;
    margin: 15px 0 15px 0;
}

.pays-wrapper{
    width: 700px;
    position: absolute;
    right: calc(50% - 350px);
    transition: right 0.35s ease-out;
}

.left{
    left: -1500px;
    transition: left 0.35s ease-out;
}

.right{
    right: -1500px;
    transition: right 0.35s ease-out;
}

.hidden{
    display: none;
}

.pay-button{
    margin: 5px auto;
    width: 300px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 1.75em;
}

.success-img{
    margin: 25px 25px 25px 5px;
    height: 150px;
}

.top-line{
    display: flex;
    cursor: pointer;
    width: fit-content;
    font-size: 1.75em;
    align-items: center;
}

.info-field, input{
    border: none;
    font-size: 1.5em;
}

.info-fields{
    display: flex;
    justify-content: space-around;
    margin: 0 0 20px 0;
}